# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: Return customer indicator (yes/no) to suggest which free-tier customer will convert to paying customer.

#### 2. What are the predictors/covariates?

Answer: Age, gender, location, profession, and customer useage data - days since last log in and activity score.

#### 3. What timeframe is this data relevent for?

Answer: January to April 2015

#### 4. What is the hypothesis?

Answer: Demographic and useage data will predict which free-tier customers will convert to paying customers.

## Let's get started with our UCLA admissions dataset

In [3]:
import pandas as pd
df = pd.read_csv("../assets/admissions.csv")

In [7]:
df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [8]:
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

In [10]:
df.loc[(df["admit"] == 1)].describe()

       admit         gre         gpa    prestige
count  127.0  127.000000  126.000000  126.000000
mean     1.0  618.897638    3.489206    2.150794
std      0.0  108.884884    0.371655    0.921455
min      1.0  300.000000    2.420000    1.000000
25%      1.0  540.000000    3.220000    1.000000
50%      1.0  620.000000    3.545000    2.000000
75%      1.0  680.000000    3.757500    3.000000
max      1.0  800.000000    4.000000    4.000000

In [11]:
df.loc[(df["admit"] == 0)].describe()

       admit         gre         gpa    prestige
count  273.0  271.000000  272.000000  273.000000
mean     0.0  573.579336    3.345404    2.641026
std      0.0  116.052798    0.376773    0.917198
min      0.0  220.000000    2.260000    1.000000
25%      0.0  500.000000    3.080000    2.000000
50%      0.0  580.000000    3.340000    3.000000
75%      0.0  660.000000    3.610000    3.000000
max      0.0  800.000000    4.000000    4.000000

#### 1. Create a data dictionary

Answer:

Variable | Description       | Type of Variable
---|---| ---
Admit | Indicates whether admitted (1) to grad school or not (0) | categorical
GRE | standardized exam, integer (800 max) | continuous 
GPA | Grade Point Average, (4.00 max)  | continuous 
Prestige | Rank of applicant's undergraduate alma mater (1-highest to 4-lowest), | categorical

We would like to explore the association between X and Y

#### 2. What is the outcome?

Answer: Return admit indicator (1 = admitted, 0 = not) to predict applicant's admission result.

#### 3. What are the predictors/covariates?

Answer:  GRE score, GPA, and Prestige of School

#### 4. What timeframe is this data relevent for?

Answer:  not applicable

#### 5. What is the hypothesis?

Answer:  Standardized exam (GRE), GPA, and prestige of applicant's undergraduate school will predict if applicant is admitted to graduate school.

#### 6.Using the above information, write a well-formed problem statement.

Answer: Which predictor is more linearly correlated with graduate school admission?

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: To summarize the main characteristics of a data set, for example calculating measures of central tendancy, plotting, and determining correlation.

#### 2a. What are the assumptions of the distribution of data?

Answer:  That it is representation of the population.

#### 2b. How will determine the distribution of your data?

Answer: variance, standard deviation, range, interquartile range

#### 3a. How might outliers impact your analysis?

Answer: It may skew the mean.  However, we can use the median as a comparison.

#### 3b. How will you test for outliers?

Answer:  By checking for data that may be outside of the normal range of a boxplot (less than Q1-1.5*IQR & greater than Q3+1.5*IQR).

#### 4a. What is colinearity?

Answer: When one predictor variable is more linearly correlated with outcome variable more than other predictors.

#### 4b. How will you test for colinearity?

Answer:  Compute correlation matrix of the data.

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer:

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model